
#binaries
alpha/alpha
tutorials/VeinsTutorial/VeinsTutorial
results/
out/

#Latex build files
**/.tkenvrc
*.aux
*.log

*.fdb_latexmk
*.fls
*.synctex.gz

#Makefiles
alpha/Makefile
alpha/src/Makefile
tutorials/VeinsTutorial/Makefile
